hostname {{ hostname }}
!
system
system-ip {{ system_ip }}
site-id {{ site_id }}
organization-name "{{ organization_name }}"
vbond {{ vbond_ip }}
!
interface {{ interface_name }}
description WAN
ip address {{ interface_ip }} {{ interface_subnet_mask }}
no shutdown
!
interface Tunnel1
ip unnumbered {{ interface_name }}
tunnel source {{ interface_name }}
tunnel mode sdwan
no shutdown
!
sdwan
interface {{ interface_name }}
tunnel-interface
encapsulation ipsec
color blue
!
ip route 0.0.0.0 0.0.0.0 {{ default_gateway }}
commit
exit